html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
    background-color: #E8F4EA;
    font-family: 'verdana';
    width: 100%;
    position: fixed;
    top: 0px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

body {
    color: dimgray;
    margin: auto;
    font-family: 'verdana', sans-serif;
    font-weight: lighter;
}

h1 {
    color: dimgray; 
    font-size: 80px;
    font-weight: lighter;
    font-family: 'verdana';
    line-height: 0;      
}

h2 {
    color: dimgray;
    font-size: 40px;
    font-family: 'verdana';
    font-weight: lighter;
    line-height: 0%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;        
}

h3 {
    font-family: 'verdana';
    color: dimgray;
    font-size: 20px;
    text-align: center;    
}

p {
    font-family: 'verdana';
    text-align: center;
    color: dimgray;
    margin-top: -0%;
    font-size: 16px;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 2%;
}

a {
    color: grey;
    text-decoration: none;
}


.line{
    border: #E8F4EA;
    border: 3px solid #E8F4EA;
    border-width: 3px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-left: 250px;
    margin-right: 250px;
}

.bar {
    width: 95%;
    margin: 1%;
    float: left;
    font-family: 'verdana';
    font-weight: ;
    padding: auto;
    border: grey;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 10px;
    position: relative;
}

nav a {
    color: #000000;
    text-decoration-color: black;
    font-size: 15px;
}

nav a:hover {
    color: #000000;
    opacity: 0.3;
}

.name-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 10%;
}

.About {
    background: url(../images/ju.png);
    background-repeat: repeat-y;
    color: black;
    margin: auto;
    padding-bottom: 50px;
}

.statement{
    font-style: italic;
    font-weight: bold;
}

.projects {
    color: dimgray;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}

.proj_box{
    font-family: 'verdana';
    padding: 10px;
    margin: 10px;
    display: inline-table;
    width: 200px;
    height: 600px;
    align-items: center;
    background-color: #E8F4EA;
    border: white;
    border-radius: 12px;
}

.botao{
    position: relative;
    top: 510px;
}

.button {
    padding: 15px 32px;
    text-align: center;
    font-family: 'verdana';
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: lightgrey; 
    width: 100%;
    color: black; 
    border: 2px solid lightgrey;
    border-radius: 48px;
}

.contact {
    background: #E8F4EA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'sans-serif;';
}

footer {
    background: #E8F4EA;
    color: #000000;
}

footer ul {
    display: inline-block;
}

.fa {
    float: right;
    padding: 14px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
    color: grey;
}

.fa-instagram {
    color: grey;
}

.fa-linkedin {
    color: grey;
}

