/* Glossary
font color #FBFCFF
background #000000
*/


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
  background: #FBFCFF;
  
  
      
}

header::after {
  content: '';
  display: table;
  clear: both;
  
}

.bar {
  width: 95%;
  margin: 1%;
  float: left;
  font-family: 'Roboto';
  font-weight: ;
  padding: auto;
  
}

nav {
  float: right;
    
}

nav a {
  color: #000000;
  text-decoration-color: black;
  font-size: 15px;
}



body {
    background: #000000;
    color: #FBFCFF;
    margin: auto;
    font-family: 'Roboto+Condensed', sans-serif;
}

body p {
    font-size: 18px;
}

